<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Liste des Courses</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- Ajout des fichiers Leaflet sans les attributs integrity qui causent des erreurs -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body class="bg-gray-50 text-gray-900 min-h-screen flex flex-col">

  <!-- Header -->
  <div th:replace="fragments/header :: headerFragment('home', ${member})"></div>

  <!-- Table des courses à venir et passées -->
  <div th:replace="fragments/coursesTable :: coursesTableFragment('courses', 'allCourses', 'Listes de toutes les courses', ${member}, ${upcomingCourses}, ${pastCourses})"></div>

<!--
  &lt;!&ndash; Table des courses à venir et passées &ndash;&gt;
  <div th:replace="fragments/coursesTable :: coursesTableFragment('courses', 'memberCourses', 'Mes courses', ${member}, ${upcomingCourses}, ${pastCourses})"></div>
-->

  <!-- Footer -->
  <footer class="bg-white border-t p-4 text-center text-sm text-gray-500">
    &copy; 2025 Color Run. Tous droits réservés.
  </footer>


</body>
</html>
